option_settings:
  aws:elasticbeanstalk:applicaiton:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref": "AWS::REION"}`'
    YOU_TUBE_QUEUE_TABLE: '`{"Ref": "YouTubeQueueTable"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer:ngix
  aws:elasticbeanstalk:container:nodejs:staticFiles:
    /static: /public
