option_settings:
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref": "AWS::Region"}`'
    YOU_TUBE_QUEUE_TABLE: '`{"Ref": "YouTubeQueueTable"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
